@import url("/senrimana/assets/css/fonts.css");

:root { --kaizaGr: linear-gradient(to right, #b98b73 0%, #ecd6a1 50%, #b98b73 100%); }

html { background-color: #3d374c !important; }
body {
  background-image: url("/senrimana/assets/images/background/kaizaBG.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "KaiserSimSun", "Nanum Myeongjo", serif !important;
  color: #e5e3e1;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: absolute;
  top: 0;
  z-index: 701;
  background-color: #3d374c;
  background-image: url("/senrimana/assets/images/background/kaizaBG.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 0 9.5px 19px #3d374ca0;
}
header > div {
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: right;
  font-size: 1.25rem !important;
  font-weight: bold;
  line-height: 1.125rem;
}
header > div > div > #date {
  font-size: .75rem !important;
  font-weight: normal;
}

footer {
  padding: 1rem 2rem;
  font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-size: small;
  text-align: right;
  color: #cabbb3;
  background-color: #464042;
}
footer > span { display: block; }

.intro {
  width: 100vw;
  height: 100vh;
  /* background-image: url("/senrimana/assets/images/background/20240625_1.png"); */
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.intro > div {
  width: 100vw;
  background-color: #1c1822c0;
  padding: 15rem 1rem;
}
.intro > div > div {
  width: 625px;
  max-width: 100%;
  margin: 0 auto;
}

div[latestLineup] {
  background-image: url("/senrimana/assets/images/background/kaizaBG.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 1rem;
}
div[flexSheet] {
  padding: .5rem .5rem 1rem .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div[flexSheet] > .material-symbols-outlined:hover, div[flexSheet] > div[btns] > .material-symbols-outlined:hover { color: red; }
div[flexSheet] > span, div[flexSheet] > div[btns] > span {
  font-size: 1.75rem;
  font-weight: bold;
}
div[scrollInstruct] {
  display: flex;
  justify-content: center;
  align-items: center;
}
span[instructText] {
  text-transform: uppercase;
  font-size: medium;
  font-weight: bold;
}
span[instructSym] { cursor: initial !important; }
.eventFeed {
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.eventFeed::-webkit-scrollbar { display: none; }
.eventFeed > div {
  margin: 1rem .5rem 0 .5rem;
  width: 375px;
  background-color: #3d374c;
  border: #e5e3e1 solid .125rem;
  border-radius: 1rem;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}
.eventFeed > div:hover { background-color: #1c1822; }
.eventFeed > div > div {
  width: -moz-fit-content;
  width: fit-content;
  white-space: initial !important;
  padding: 1.25rem;
  -webkit-user-select: none;
  user-select: none;
}
.eventFeed > div > img {
  object-fit: cover;
  aspect-ratio: 16 / 9;
}
.eventFeed > div > div > span { display: block; }
span[type="date"] { font-size: .8rem; }
.flashPrompt {
  -webkit-animation: blink 2.5s linear infinite;
  -moz-animation: blink 2.5s linear infinite;
  -o-animation: blink 2.5s linear infinite;
  animation: blink 2.5s linear infinite;
}
@keyframes blink {
  5% { opacity: 1; }
  50% { opacity: 0; }
  95% { opacity: 1; }
}
span[type="eventTitle"] {
  font-size: 1.15rem;
  font-weight: bold;
}
span[type="eventText"] { font-size: 1rem; }
div[pastLineup] {
  background-color: #3d374c;
  padding: 1rem;
}
.pastLineups > div { width: 250px !important; }
.pastLineups > div[unreleased] { display: none; }
.pastLineups > div > div > span[eventTitle] { font-size: .7rem; }

.noVOD {
  display: none;
  width: 100% !important;
  padding: 12.5rem 0 !important;
  text-align: center;
  font-weight: bold;
  white-space: initial;
  -ms-overflow-style: initial;
}

div[class="intro"] > div > div > div[socials] { margin: unset; }

div[dailyKaiser] {
  padding: 1rem;
  background-color: #e5e3e1;
  color: #3d374c;
}
div[dailyKaiser] > #dailyKaiser > div {
  width: 500px !important;
  border: #3d374c solid .125rem;
  background-color: #e5e3e1;
  color: #3d374c;
  font-weight: bold;
}
div[dailyKaiser] > #dailyKaiser > div:hover { background-color: #b1afad; }
div[dailyKaiser] > #dailyKaiser > div > img { aspect-ratio: 1 / 1; }
div[dailyKaiser] > #dailyKaiser > div > div > .author::before { content: "illust. "; }

/* override default span in #dailyKaiser */
div[dailyKaiser] > #dailyKaiser > div > div > .author[memeFormat]::before { content: "a meme by "; }
div[dailyKaiser] > #dailyKaiser > div > div > .author[GIFormat]::before { content: "GIF provided by "; }
div[dailyKaiser] > #dailyKaiser > div > div > .author[clipFormat]::before { content: "clip from "; }
div[dailyKaiser] > #dailyKaiser > div > div > .author[screencap]::before { content: "screencap by "; }
div[dailyKaiser] > #dailyKaiser > div > div > .author[picrew]::before { content: "a picrew edit by "; }
div[dailyKaiser] > #dailyKaiser > div > div > .author[photoshoot]::before { content: "a photo by "; }
div[dailyKaiser] > #dailyKaiser > div > div > .author[ytVod]::before { content: "a video by "; }
div[dailyKaiser] > #dailyKaiser > div > div > .author[cosplay]::before { content: "cosplay by "; }
div[dailyKaiser] > #dailyKaiser > div > div > .author[vroid]::before { content: "vroid by "; }

div[senri] {
  background-image: url("/senrimana/assets/images/background/kaizaBG.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 2.5rem;
}
button[senri] {
  background-color: #3d374c;
  border: #b1afad .125rem solid;
  color: inherit;
  display: block;
  margin: 0 auto;
  font-weight: bold;
}
button[senri]:hover { background-color: #1c1822; }
img[senri] {
  aspect-ratio: 16 / 9;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center top;
  object-position: center top;
  margin: 0 auto;
}

div[senriBorder] {
  width: 100vw;
  height: 15px;
  background: var(--kaizaGr);
}

div[asTable] {
  overflow: auto;
  * { margin: 0; }
}
div[asTable] > div {
  float: left;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
div[asTable] > div > div {
  width: 100%;
  height: 100%;
  padding: 15rem 1rem;
  background-color: #3d374cc0;
}
div[asTable] > div > div > div {
  text-align: center !important;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
}

/* div[socials] {
  display: block;
  margin: 0 auto;
}
div[socials] > span, svg {
  padding: 5px !important;
  cursor: pointer;
}
div[socials] > span:hover, svg:hover { color: red; }
div[socials] > svg { height: 1.25rem !important; } */

.senriSocials {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: inherit;
  * {
    margin: 0 7.5px 7.5px 0 !important;
    cursor: pointer;
  }
  *:hover { color: red; }
}

div[阿賀忠] {
  /* background-image: url("https://pbs.twimg.com/media/FbH9U7UVsAUzMMQ?format=jpg&name=4096x4096"); */
  background-image: url("/senrimana/assets/images/seiyuu/senri_AgaChuu.jpg");
  background-position: center center;
}
div[蒼井翔太] {
  /* background-image: url("https://www.shouta-aoi.jp/img/banner/pc/6641d55722e40.jpg"); */
  background-image: url("/senrimana/assets/images/seiyuu/senri_ShoutaAoi.jpg");
  background-position: center center;
}

img[showtaSenri] {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}

#sch {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #3d374ca0;
  z-index: 1000;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
#sch > img {
  width: 75rem;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

div[lineupSheet] *, div[lineupSheet] > div *, div[eventDays] *, div[eventDays] > div * { margin: 0; }

p[dailyKaiserBtnList] > button[senri] {
  display: inline-block;
  margin-bottom: .5rem;
}

#dKTitle {
  background-color: #e5e3e1;
  color: #3d374c;
  padding: 1rem 1rem .5rem 1rem;
}
#displayCollection {
  padding: .5rem;
  display: grid;
  background-color: #e5e3e1;
}
#displayCollection > div {
  float: left;
  margin: .5rem;
  border: #3d374c solid .125rem;
  border-radius: 1rem;
  background-color: #e5e3e1;
  color: #3d374c;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
}
#displayCollection > div:hover { background-color: #b1afad; }
#displayCollection > div > img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
#displayCollection > div > div { padding: 1.25rem; }
#displayCollection > div > div > span { display: block; }
#displayCollection > div > div > .author::before { content: "illust. "; }
#displayCollection > div > div > .author[memeFormat]::before { content: "a meme by "; }
#displayCollection > div > div > .author[GIFormat]::before { content: "GIF provided by "; }
#displayCollection > div > div > .author[clipFormat]::before { content: "clip from "; }
#displayCollection > div > div > .author[screencap]::before { content: "screencap by "; }
#displayCollection > div > div > .author[picrew]::before { content: "a picrew edit by "; }
#displayCollection > div > div > .author[photoshoot]::before { content: "a photo by "; }
#displayCollection > div > div > .author[ytVod]::before { content: "a video by "; }
#displayCollection > div > div > .author[cosplay]::before { content: "a cosplay by "; }

/* responsive display */
@media screen and (max-width: 1000px) {
  div[asTable] > div { width: 100%; }
}
@media screen and (min-width: 900px) {
  div[flexSheet] > .wide { display: flex; }
  div[flexSheet] > .min { display: none; }
}
@media screen and (max-width: 900px) {
  div[flexSheet] > .wide { display: none; }
  div[flexSheet] > .min { display: flex; }
}
@media screen and (max-width: 500px) {
  div[flexSheet] > .wide { display: none; }
  div[flexSheet] > .min { display: none; }
}
@media screen and (max-width: 400px) {
  header > div { display: none; }
}

/* responsive grid */
@media screen and (max-width: 480px) {
  #displayCollection { grid-template-columns: 100%; }
}
@media screen and (min-width: 480px) {
  #displayCollection { grid-template-columns: repeat(2, minmax(0, 1fr)); }
}
@media screen and (min-width: 640px) {
  #displayCollection { grid-template-columns: repeat(3, minmax(0, 1fr)); }
}
@media screen and (min-width: 1280px) {
  #displayCollection { grid-template-columns: repeat(4, minmax(0, 1fr)); }
}
@media screen and (min-width: 1920px) {
  #displayCollection { grid-template-columns: repeat(5, minmax(0, 1fr)); }
}
@media screen and (min-width: 2560px) {
  #displayCollection { grid-template-columns: repeat(6, minmax(0, 1fr)); }
}
@media screen and (min-width: 3840px) {
  #displayCollection { grid-template-columns: repeat(7, minmax(0, 1fr)); }
}
@media screen and (min-width: 5120px) {
  #displayCollection { grid-template-columns: repeat(8, minmax(0, 1fr)); }
}
@media screen and (min-width: 5760px) {
  #displayCollection { grid-template-columns: repeat(9, minmax(0, 1fr)); }
}
@media screen and (min-width: 6400px) {
  #displayCollection { grid-template-columns: repeat(10, minmax(0, 1fr)); }
}
@media screen and (min-width: 7680px) {
  #displayCollection { grid-template-columns: repeat(11, minmax(0, 1fr)); }
}
